<a href="https://colab.research.google.com/github/blessiefaith/CPE-21A-PLD-1-1/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Indentation

In [28]:
if 8>4: 
   print  ("8 is greater than four")

8 is greater than four

#Variable Declaration

In [18]:
#Variable with a single value
x = 60 
y = 80
if x<y:
  print ("x is less than y")
else:
  print ("y is greater than x")

x is less than y

In [8]:
#Variable with a multiple value 
b,m=18,19 
print ("The value of b is:",b)
print ("The value of m is:",m)

The value of b is: 18
The value of m is: 19

In [17]:
#Multiple variable with a single value 
b=m=t="Cutie"
print (b)
print (m)
print (t)

Cutie
Cutie
Cutie

#Casting and Type () Funtion

In [19]:
f=int(9)
g=float(4)

print (f)
print (g)

print (type(f))
print (type(g))

9
4.0
<class 'int'>
<class 'float'>

#Double quote and Single quote

In [23]:
name="Blessie"
surname='Gomez'
print(name)
print(surname)

Blessie
Gomez

#Case Sensitive

In [24]:
t="Tarroza"
print(t)

Tarroza

#Output Variable

In [27]:
b="See you after a week"
m="love"
print(b,m)

See you after a week love